{% extends 'base.html' %}
{% load static %}

<!-- Header Close  功能欄下方的banner-->
{% block Slider_Start %}
    <section class="page-title bg-1" style="background-image: url('{{ banners.0.banner_photo.url }}')">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white">關於我們</span>
                        <h1 class="text-capitalize mb-4 text-lg">艾鉅有限公司</h1>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="{% url 'index' %}" class="text-white">首頁</a></li>
                            <li class="list-inline-item"><span class="text-white">/</span></li>
                            <li class="list-inline-item text-white-50">關於我們</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block Section_Intro_Start %}
    <!-- Section About Start -->
    <section class="section about-2 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-item pr-3 mb-5 mb-lg-0">
                        <span class="h2 text-color">我們提供</span>
                        <h2 class="mt-3 mb-4 position-relative content-title">專業的衝浪板</h2>
                        <p class="mb-5">公司創立於民國 1989 年，主要從事進出口及生產製造；擁有為數不少的客戶群。本公司擁有優秀的經營團隊，秉持著『美式經營人性管理』的經營理念，追求企業永續經營及成長；除整體營運穩定外，獲利狀況也逐年提昇，是國內績優廠商之一。我們重視每一位員工，除了有良好工作環境、也提供學習及成長的空間，歡迎優秀的朋友一起加入 某出口績優廠商 的工作行列。</p>
{#                        <a href={% url 'contact' %} class="btn btn-main btn-round-full">Get started</a>#}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-item-img">
                        <img loading="lazy" src="{% static '/agitweb/images/about/about_photo.jpg' %}" alt="about-image"
                             class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section About End -->

    <section class="about-info section pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><span class="text-color mr-2 text-md ">01.</span>任務</h3>
                        <p>提供專業的衝浪板。全球衝浪板製造商，第一家取得產品碳足跡認證公司。</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><span class="text-color mr-2 text-md">02.</span>視野</h3>
                        <p>收合式槳板商品榮獲經濟部發明獎-銀牌</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><span class="text-color mr-2 text-md">03.</span>環保</h3>
                        <p>PE複合發泡體下腳廢料回收率達9成以上<br>EPS下腳廢料回收率達9成以上</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- section Counter Start -->
    <section class="section counter bg-counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mb-5 mb-lg-0">
                        <i class="ti-location-pin color-one text-md"></i>
                        <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">40</span> +</h3>
                        <p class="text-white-50">全球據點</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mb-5 mb-lg-0">
                        <i class="ti-flag color-one text-md"></i>
                        <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">125 </span>M </h3>
                        <p class="text-white-50">User Worldwide</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mb-5 mb-lg-0">
                        <i class="ti-layers color-one text-md"></i>
                        <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">39</span></h3>
                        <p class="text-white-50">Availble Country</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center">
                        <i class="ti-medall color-one  text-md"></i>
                        <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">3</span></h3>
                        <p class="text-white-50">獲得獎項 </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!-- section Counter End  -->
{% block service %}
    <!--  Section Services Start -->
    <section class="section team">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <span class="h6 text-color">AGIT/TEAM</span>
                        <h2 class="mt-3 content-title">各部門專業的領導團隊</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                {% for about in about_detail %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-item-wrap mb-5">
                        <div class="team-item position-relative">

                            <img loading="lazy" src="/media/{{ about.manager_photo }}" alt="team"
                                 class="img-fluid w-100">
                            <div class="team-img-hover">
                                <ul class="team-social list-inline">
                                    <li class="list-inline-item">
                                        <strong>{{ about.manager_saying }}</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-item-content">
                            <h4 class="mt-3 mb-0 text-capitalize">{{ about.manager_name }}</h4>
                            <p>{{ about.manager_category.manager_category }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-item-wrap mb-5">
                        <div class="team-item position-relative">
                            <img loading="lazy" src="{% static 'agitweb/images/team/team-2.jpg' %}" alt="team"
                                 class="img-fluid w-100">
                            <div class="team-img-hover">
                                <ul class="team-social list-inline">
                                    <li class="list-inline-item">
                                        <a href="https://www.facebook.com/themefisher" class="facebook"><i
                                                class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://twitter.com/themefisher" class="twitter"><i
                                                class="fab fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.instagram.com/themefisher/" class="instagram"><i
                                                class="fab fa-instagram" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://themefisher.com/" class="linkedin"><i
                                                class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-item-content">
                            <h4 class="mt-3 mb-0 text-capitalize">John</h4>
                            <p>CEO</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item-wrap mb-5">
                            <div class="team-item position-relative">
                                <img loading="lazy" src="{% static 'agitweb/images/team/team-2.jpg' %}" alt="team"
                                     class="img-fluid w-100">
                                <div class="team-img-hover">
                                    <ul class="team-social list-inline">
                                        <li class="list-inline-item">
                                            <a href="https://www.facebook.com/themefisher" class="facebook"><i
                                                    class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="https://twitter.com/themefisher" class="twitter"><i
                                                    class="fab fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="https://www.instagram.com/themefisher/" class="instagram"><i
                                                    class="fab fa-instagram" aria-hidden="true"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="https://themefisher.com/" class="linkedin"><i
                                                    class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-item-content">
                                <h4 class="mt-3 mb-0 text-capitalize">Joyce</h4>
                                <p>副董</p>
                            </div>
                        </div>
                    </div>


            </div>
        </div>
    </section>
{% endblock %}
<!--  Section Services End -->
<!-- Section Testimonial Start -->
{% comment %}


{% block client_say %}
    <section class="section testimonial bg-gray">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <span class="h6 text-color">客戶的想法</span>
                        <h2 class="mt-3 content-title">來聽看看我們客戶對我們的看法</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="testimonial-wrap">
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>

                    <div class="testimonial-item-content">
                        <p class="testimonial-text">44444</p>

                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Thomas Johnson</h5>
                            <p>Excutive Director,themefisher</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>

                    <div class="testimonial-item-content">
                        <p class="testimonial-text">Consectetur adipisicing elit. Quam maiores perspiciatis temporibus
                            odio reiciendis error alias debitis atque consequuntur natus iusto recusandae .</p>

                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Mickel hussy</h5>
                            <p>Excutive Director,themefisher</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>

                    <div class="testimonial-item-content">
                        <p class="testimonial-text">Quam maiores perspiciatis temporibus odio reiciendis error alias
                            debitis atque consequuntur natus iusto recusandae numquam corrupti.</p>

                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">James Watson</h5>
                            <p>Excutive Director,themefisher</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>

                    <div class="testimonial-item-content">
                        <p class="testimonial-text">Consectetur adipisicing elit. Quam maiores perspiciatis temporibus
                            odio reiciendis error alias debitis atque consequuntur natus iusto recusandae .</p>

                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Mickel hussy</h5>
                            <p>Excutive Director,themefisher</p>
                        </div>
                    </div>
                </div>
                 <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>

                    <div class="testimonial-item-content">
                        <p class="testimonial-text">Quam maiores perspiciatis temporibus odio reiciendis error alias
                            debitis atque consequuntur natus iusto recusandae numquam corrupti facilis blanditiis.</p>

                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Thomas Johnson</h5>
                            <p>Excutive Director,themefisher</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% endcomment %}